<h1 class="m-2">Stupid Coaching</h1>

<p class="m-2">Ask your coach anything:</p>
<form class="input-group m-2 width" action="/answer" data-turbo="false">
  <input type="text" name="question" class="form-control" placeholder="Enter your question" aria-label="User's question" aria-describedby="button-addon2">
  <input type="submit" value="Ask" class="btn btn-primary">
</form>
